# Slack & AWS Chatbot Settings
hook_url_app = ""
slack_workspace_id = ""
slack_channel_id = ""

# AWS EC2 Bastion Settings
aws_key_pub_bastion = ""

# AWS Secrets Manager Settings
dockerhub_username = ""
dockerhub_password = ""
